*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:Arial, Helvetica, sans-serif;
		scroll-behavior: smooth;
}

body{
	background-image: url(../assets/rose-petals.svg);
	background-size: cover;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
min-height: 100vh;

}

.main {
	position: relative;
	width: 500px;
	min-height: 500px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
	border-radius: 10px;
	border: 1px solid white;
	margin: 20px;
}

.price {
	width: 100%;
	/* margin: auto;
	height: auto; */
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.slider{
	width: 90%;
} 

.price > div {
	margin-top: 15px;
	width: 90%;
	/* border: 1px solid white; */
	color: rgb(22, 22, 22);
}

.slider > input {
	width: 100%;
}

.minMax {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
}

.name {
	height: 70px;
	width: 80%;
	/* display: block; */
	/* margin: auto; */
	font-size: 1.5rem;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.15);
	color: rgb(0, 0, 0, 0.7);
	border: 1px solid white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(0, 0, 0, 0.7);
	opacity: 1; /* Firefox */
  }




.btns {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:  wrap;
}

.submit{
	background-color:rgb(255, 255, 255, 0);
	height: 80px;
	width: 170px;
	font-size: 1.5rem;
	font-weight:bolder;
	border-radius:20px ;
	color: rgba(0, 0, 0, 0.651);
	border: 1px solid white;
	display: flex;
	align-items:center;
	justify-content:center;
	/* background: linear-gradient(90deg, rgb(53, 0, 0), rgb(255, 132, 132)); */
	transition: 0.3s;
	cursor: pointer;
	margin: 10px;
	
}
.submit:hover{
	background-color: rgba(255, 255, 255, 0.2);
}


.transaction{
	/* overflow: hidden; */
	display: flex;
	align-items: center;
	justify-content: end;
	max-height: 450px;
	position: relative;
	border: 1px solid white;
	padding: 10px;
	border-radius: 10px;
	display: none;
	overflow: hidden;
	margin: 5px;
}
.transaction > h2 {
	width: 100%;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 10px;
	
}
.logs{
	font-size: 1.5rem;
	width: 500px;
	height: auto;
	max-height: 400px;
	overflow-wrap:break-word;
	overflow-x: hidden;
	overflow-y: scroll; 
}



@media only screen and (max-width: 600px) {
	.name{
		font-size: 1.1rem;
	}
	.main {
		width: 320px;
		min-height: 430px;
	}
	.submit{
		font-size: 0.9rem;
		width: 120px;
		height: 58px;
	}
	.price{
		font-size: 1rem;
	}
	.logs{
		width: 300px;
		font-size: 0.8rem;
	}
	.minMax{
		font-size: 0.7rem;
	}
	.transaction > h2 {
		font-size: 1rem;
	}
	.transaction{
		width:290px;
	}
}

@media only screen and (min-width: 600px){
	.name{
		font-size: 1.4rem;
	}
	.main {
		width: 450px;
		min-height: 550px;
	}
	.submit{
		font-size: 1.4rem;
	}
	.price{
		font-size: 1.4rem;
	}
	.logs{
		width: 420px;
		font-size: 1.2rem;
	}
	.transaction > h2 {
		font-size: 1.5rem;
	}
	.transaction{
		width:400px;
	}
}

@media only screen and (min-width: 992px){
	.name{
		font-size: 1.8rem;
	}
	.main {
		width: 550px;
		min-height: 570px;
	}
	.submit{
		font-size: 1.7rem;
	}
	.price{
		font-size: 1.8rem;
	}
	.logs{
		width: 500px;
		font-size: 1.5rem;
	}
	.transaction > h2 {
		font-size: 1.8rem;
	}
	.transaction{
		width:500px;
	}
}

@media only screen and (min-width: 1200px){
	body{
		flex-direction: row;
	}
	.logs{
		width: 500px;
		font-size: 1.5rem;
		position: relative;
		bottom: 0px;
		left:0px;
	}

	
}
